:root {
  --brown: rgba(226, 224, 221, 0.842);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  /* font-family: $pt-mono;
    font-weight: normal;*/
  background-color: var(--brown);
}

.wrapper {
  margin: 0 auto;
  max-width: 1249px;
}
